html, body, #root {
  height: 100%;
  margin: 0 auto;
  -webkit-touch-callout: none;
  user-select: none;
}


a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
}
