[submodule "third-party/clang"]
	path = lib/third-party/clang
	url = https://github.com/llvm-mirror/clang
[submodule "third-party/llvm"]
	path = lib/third-party/llvm
	url = https://github.com/llvm-mirror/llvm
[submodule "third-party/rapidjson"]
	path = lib/third-party/rapidjson
	url = git@github.com:miloyip/rapidjson.git
